[Unit]
Description=Explane
After=multi-user.target

[Service]
Type=simple
ExecStart=/usr/bin/python3.7 -u /root/RPIAirplaneDetector/flaskapp/app.py
WorkingDirectory=/root/RPIAirplaneDetector/flaskapp
Restart=always

[Install]
WantedBy=multi-user.target
